<h1>[Akt'n'Map] Alerte de sécurité - nouveau navigateur détecté</h1>

<p>Bonjour <%= user.profile.name %>, votre compte a été utilisé depuis un nouveau navigateur <%= subscription.browser.name %>. Merci de vérifier qu'il s'agit bien d'une activité légitime.</p>

<p>Suivez <a href='<%= email.link %>'>ce lien</a> pour vérifier cette activité.</p>

<p>Si vous n'êtes pas à l'origine de cette activité envoyez-nous un mail en cliquant sur <a href="mailto:support@kalisio.com?subject=Je ne reconnais pas cette activité&body=Quelqu'un non autorisé a utilisé mon compte depuis un appareil inconnu.">ce lien</a>.</p>
