// Sass/SCSS variables customization
// https://quasar.dev/style/sass-scss-variables#variables-list

// Theme
$primary: #2b302b;
$secondary: lighten($primary, 75%);
$accent: lighten($primary, 25%);
$dark: darken($primary, 25%);
$info: $accent;

// Defaults KDK SCSS variables
@import 'kdk/core.variables';